
<nav class="navbar{{menu.class}}" role="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#{{menu.id}}" aria-controls="{{menu.id}}" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Brand-->
  <a class="navbar-brand" href="#">{{menu.couple}}</a>
  <div class="collapse navbar-collapse row" id="{{menu.id}}">
      <div class="col-sm-6">
        {% set navList = menu.navList %}
        {% include "molecules-nav" %}
      </div>
      <div class="col-sm-6 navbar-right">
        {% set navList = menu.navList_02 %}
        {% include "molecules-nav" %}
      </div>

  </div>
</nav>
