<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Italiana" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel="stylesheet">

<link rel="stylesheet" href="../../assets/css/swiper.min.css">
<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/css/main.css?{{ cacheBuster }}" media="all">
<link rel="stylesheet" href="../../assets/css/dev.css?{{ cacheBuster }}" media="all">
<link rel="stylesheet" href="../../assets/css/font-awesome.css" media="all" />
<link rel="stylesheet" href="../../assets/css/jquery-ui.css" media="all" />

<script src="../../assets/js/vendor/jquery-1.12.0.min.js?{{ cacheBuster }}"></script>
<script src="../../assets/js/vendor/modernizr-2.8.3.min.js?{{ cacheBuster }}"></script>

<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
{{ patternLabHead | raw }}
<link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all">
<!-- End Pattern Lab -->
