<div class="infobox{{infoboxStyleModifier}}">


    {% if item.number %}
    <div class="box__number">
        {{item.number}}
    </div>
    {% endif %}

    {% if item.calendar %}
    <div class="box-calendar">
        <div class="box-calendar__date">
            {{item.calendar.date}}
        </div>
        <div class="box-calendar__month">
            {{item.calendar.month}}
        </div>
    </div>
    {% endif %}

    {% if item.title %}
    <div class="box__title">
       <h4> {{item.title}} </h4>
    </div>
    {% endif %}

    {% if item.time %}
    <div class="box__time">
        {{item.time}}
    </div>
    {% endif %}

    {% if item.location %}
    <div class="box__location">
        {{item.location}}
    </div>
    {% endif %}

    {% if item.description %}
    <div class="box__desc">
        {{item.description}}
    </div>
    {% endif %}

    {% if item.link %}
    {% include "atoms-link" with { link: item.link } %}
    {% endif %}

    {% if item.infobox_02 %}
        {% include "molecules-infobox_02" with { item:item.infobox_02} %}
    {% endif %}

<!--Infobox -->
</div>

