<div class="infobox{{infoboxStyleModifier}}{{item.StyleModifier}}">
 {#
    item.StyleModifier dung de them StyleModifier vao Class trong yaml
 #}

    {% if item.number %}
    <div class="box__number">
        {{item.number}}
    </div>
    {% endif %}

    {% if item.event %}
    <div class="box-event">
        <div class="box-event__date">
            {{item.event.date}}
        </div>
        <div class="box-event__month">
            {{item.event.month}}
        </div>
    </div>
    {% endif %}

    {% if item.title %}
    <div class="box__title">
       <h4> {{item.title}} </h4>
    </div>
    {% endif %}

    {% if item.time %}
    <div class="box__time">
        {{item.time}}
    </div>
    {% endif %}

    {% if item.location %}
    <div class="box__location">
        {{item.location}}
    </div>
    {% endif %}

    {% if item.description %}
    <div class="box__desc">
        {{item.description}}
    </div>
    {% endif %}

    {% if item.link %}
    {% include "atoms-link" with { link: item.link } %}
    {% endif %}

    {% if item.infobox_02 %}
        {% include "molecules-infobox_02" with { item:item.infobox_02} %}
    {% endif %}

<!--Infobox -->
</div>

