<div class="dropdown{{ dropdownStyleModifier }}">
    {% if dropdown.group %}
    <a href="#" class="{{ dropdown.group.class }}">{{ dropdown.group.text|raw }}</a>
    {% endif %}
    <a class="dropdown-toggle{% if dropdown.class %} {{ dropdown.class }}{% endif %}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ dropdown.text|raw }}</a>
  <div class="dropdown-menu dropdown-menu-{{ dropdown.align|default('right')}}">
    {% if dropdown.item %}
    {% for item in dropdown.item %}
    {{ item.item|raw }}
    {% endfor %}
    {% endif %}

    {% if dropdown.listItem %}
    <ul>
        {% for item in dropdown.listItem %}
        <li class="{{ item.class }}"><a href="">{{ item.text|raw }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if dropdown.formSearch %}
        {% include 'molecules-form-search' with { styleModifier: null } %}
    {% endif %}

    {% if dropdown.product %}
    <ul class="{{ dropdown.product.class }}">
        {% for productItem in dropdown.product.list %}
        <li>
            <div class="product-mini">
                <div class="product-mini__media" style="background-image: url('{{ productItem.img }}')"></div>

                <div class="product-mini__caption">
                    <h2><a href="#">{{ productItem.title }}</a></h2>
                    <p>{{ productItem.desc }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if dropdown.user %}
        <div class="{{ dropdown.user.class }}">
            {% for item in dropdown.user.list %}
            {{ item.text|raw }}
            {% endfor %}
        </div>
    {% endif %}
  </div>
</div>
