<div class="info{{infoStyleModifier}}">
    <div class="row{{rowStyleModifier}}">
    {% for item in info %}
        {% if item.decoration %}
            <div class="{{item.decoration.item.class}}">
                {% include "atoms-image" with { img:item.decoration.item.img } %}
            </div>
        {% endif %}
        {% if item.column %}
        <div class="{{item.column}}">
    {% endif %}
    {% if item.sectitle %}
        {% include "atoms-sectitle" with {sectitle:item.sectitle }%}
    {% endif %}
    {% if item.img %}
        {% include "atoms-image" with {img: item.img } %}
    {% endif %}
    {#<div class="{{item.type}}">#}
    {% include includeFile with { infoboxStyleModifier: modifierFile } %}
    {% if item.imgBottom %}
        {% include "atoms-image" with { img: item.imgBottom } %}
    {% endif %}

    {#</div>#}
{% if item.nestedCol %}
    <div class="row">
        {#vong lap for cho nested column trong Bootstrap#}
        {% for item in item.nestedCol %}
            <div class="{{item.column}}">
                {% include includeFile with { infoboxStyleModifier: modifierFile } %}

                 {% if item.infobox_02 %}
                    {% include "molecules-infobox-02" with {item: item.infobox_02 } %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if item.column %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
